<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Debug - Guests (<%= dataCount %>)</title>
</head>
<body>
  <h1>Guest Data (<%= dataCount %> records)</h1>
  <% if (data.length > 0) { %>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
        <% for (const guest of data) { %>
          <tr>
            <td><%= guest.id %></td>
            <td><%= guest.firstName %></td>
            <td><%= guest.lastName %></td>
            <td><%= guest.email %></td>
            <td><%= guest.phone %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  <% } else { %>
    <p>No Guest data found.</p>
  <% } %>
</body>
</html>